.one {
    background-color: rgb(235, 159, 159);
    font-family: Verdana, sans-serif;
}
#two {
    color: rgb(20, 111, 230);
    font-size: 36px;
}
.three {
    font-size: 24px;
}
#four {
    background-color: rgb(166, 245, 166);
    font-size: 24px;
    font-weight: bold;
}

 